* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.header {
      width: 100%;
}
nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 100px;
      background-color: lightgray;
}
ul {
      list-style: none;
      display: flex;
}
li {
      padding: 10px 30px;
}
a {
      text-decoration: none;
      font-size: 20px;
      color: black;
}
h1 {
      font-size: 30px;
      font-weight: 700;
      color: rgb(72, 65, 65);
}
p {
      font-size: 18px;
      padding: 10px 0;
}
.btn {
      padding: 12px 30px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      background-color: lightgrey;
}
span {
      font-size: 30px;
}

#hero {
      width: 100%;
      height: 100vh;
}
.flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
}
#hero .left {
      margin-top: 70px;
}
#hero .right .img img{
      width: 500px;
      margin-top: 80px;
      margin-left: 50px;
}
            /* about section design */
#about {
      width: 100%;
      height: 100%;
      background-color: lightgray;
}
.about-text {
      font-size: 50px;
      padding: 40px 40%;
}
.about-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 100px;
}
.about-container .img img {
      width: 500px;
}
.about-right {
      margin-left: 100px;
}
.about-btn {
      padding: 12px 30px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      background-color: white;
}
            /* service section start */
#our-service {
      width: 100%;
}  
.service-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px;
}    
.service-container .item-box {
    max-width: 300px;
    background-color: lightgray;  
    padding: 40px;
    border-radius: 5px;
} 
.item-box .img i {
      display: flex;
      justify-content: center;
      font-size: 70px;
      padding: 20px;
}
.item-heading {
      text-align: center;
}    
.btn-div {
      display: flex;
      justify-content: center;
}
.details {
      text-align: center;
      padding: 7px 18px;
      border: none;
} 
.service-text {
      text-align: center;
      padding: 20px;
      font-size: 40px;
}